

#titulo{
    font-family: sans-serif;
    color: rgb(11, 99, 69);
    margin-left: 1%;
    font-size: 4em;
}

#subtitulo {
    font-family: sans-serif;
    color: rgb(4, 54, 54);
    margin-left: 1%;
    font-size: larger;
    margin-top: 0.1em;
}

fieldset{
    border: 0;
}

body{
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(4, 54, 54);
    margin-left: 30%;
    margin-top: 1%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 0.9em;
    display: inline-block;
}

.campo label{
    margin-bottom: 0.3em;
    color: rgb(4, 54, 54);
    display: block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select,.campo textarea {
    padding: 0.3em 0.9em;
    border: 1px solid rgb(4, 54, 54);
    box-shadow: 3px 3px 3px rgb(4, 54, 54);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: rgba(4, 54, 54, 0.192);
}

check {
    display: inline-block;
}

.botao{
    font-size: 1.2em;
    background-color: rgb(152, 194, 194);
    border: 5;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    margin-top: 1em;
    margin-left: 10em;
    position: absolute;
}

.botao:hover {
     background-color: aquamarine;
    box-shadow: inset 2px 2px 2px rgb(11, 99, 69);
    text-shadow: none;
}

.botao, select{
    cursor: inline-block;
}